# Deny access to all files in this directory and subdirectories
<FilesMatch "^\.ht">
    Order allow,deny
    Deny from all
    Satisfy All
</FilesMatch>

# Ensure PHP files are executed
<FilesMatch "\.php$">
    SetHandler application/x-httpd-php
</FilesMatch>
